@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap");
@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toloader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart {
  0% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(0.5);
  }
  75% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
body {
  margin: auto;
  font-size: 80%;
  font-family: "Roboto";
}

/*-----------------PARTIE LOADER-------------------*/
.loader {
  display: flex;
  justify-content: center;
  margin-top: 85%;
  height: 100px;
  line-height: 100px;
  padding: 0;
  font-size: 40px;
  color: #222222;
  animation: toloader 3s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.loader .chargement {
  width: 50px;
  height: 50px;
  position: relative;
}
.loader .loader-quart {
  position: relative;
  border-radius: 50px;
  border: 6px solid rgba(139, 136, 136, 0.4);
}
.loader .loader-quart:after {
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-top-color: #99E2D0;
  border-radius: 50px;
  animation: spin 1.5s linear 0s infinite;
}

.header-accueil, .grand-titre, .fonctionnement, #restaurants, .footer-accueil {
  opacity: 0;
  animation-name: loader;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/*-----------------PARTIE EN-TÊTE-------------*/
header {
  display: flex;
  flex-wrap: wrap;
}
header #logo {
  display: flex;
  width: 100%;
  box-shadow: 5px 3px 5px #dddddd;
}
header #logo img {
  display: flex;
  width: 30%;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 15px;
}
header #recherche {
  width: 100%;
  margin: 0;
  position: relative;
  z-index: -1;
}
header #recherche .search {
  border: 0;
  background-color: #eaeaea;
  height: 40px;
  text-align: center;
}
header #recherche i {
  font-size: 100%;
  color: #222222;
}

header #images_restaurants {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
.header_menu a {
  width: 0px;
}
.header_menu .fleche {
  font-size: 150%;
  color: #222222;
  margin-left: 18px;
}
.header_menu img {
  width: 30%;
  margin: auto;
}

/*-----------------PARTIE GRAND TITRE / 
SOUS-TITRE / 
BOUTONS EXPLORER---------------*/
.grand-titre {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.grand-titre h1 {
  width: 80%;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}
.grand-titre p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.btn-titre {
  display: flex;
  margin: auto;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  padding: 15px;
  box-shadow: 2px 6px 4px #d4d4d4;
  transform: scale(1);
  transition: transform 0.8s;
}
.btn-titre:hover {
  transform: scale(1.08);
  box-shadow: 5px 5px 5px #d5d5d5;
}

/*-----------------PARTIE FONCTIONNEMENT---------------*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 20px;
}
.fonctionnement h2 {
  margin-left: 21.5px;
}

.boutons {
  display: flex;
  align-items: center;
  border: none;
  background-color: #f6f6f6;
  width: 90%;
  height: 60px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 5px 6px 10px #e8e8e8;
  margin: auto;
  margin-bottom: 20px;
  transform: scale(1);
  transition: transform 0.8s;
}
.boutons:hover {
  background-color: #F5EDFF;
  transform: scale(1.02);
  box-shadow: 10px 10px 10px #e9e9e9;
}
.boutons:hover .iconsfonction {
  color: #9356DC;
}
.boutons .number {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: white;
  margin-left: -25px;
  position: relative;
  z-index: 5;
}
.boutons .btn-fonctionnement {
  text-align: center;
  margin: auto;
}
.boutons .iconsfonction {
  margin-right: 12px;
  color: #e8e8e8;
}

/*------------------PARTIE RESTAURANTS--------------*/
#restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 30px;
}
#restaurants h2 {
  margin-left: 21.5px;
}
#restaurants img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#restaurants a {
  width: 100%;
}

a {
  text-decoration: none;
  color: #222222;
}
a figure {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #e8e8e8;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}
a figcaption {
  display: flex;
  justify-content: space-between;
  color: #222222;
}

.nom_restaurant {
  margin-left: 10px;
  margin-top: 8px;
}
.nom_restaurant h3 {
  margin-top: 0;
  width: 100%;
}
.nom_restaurant p {
  margin-top: -15px;
}

.aime {
  display: flex;
  align-items: center;
  margin-right: 25px;
  font-size: 140%;
}
.aime .coeurplein {
  display: none;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aime:hover .coeurplein {
  display: flex;
  animation: heart 0.8s;
}
.aime:hover .coeurvide {
  display: none;
}

/*----------PARTIE MENU-----------*/
#menu {
  background-color: #f6f6f6;
  padding-bottom: 10px;
  margin-bottom: -30px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  z-index: 1;
  position: relative;
  top: -30px;
}
#menu .nom_restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .nom_restaurants h1 {
  font-weight: 1000;
  font-family: "Shrikhand";
}
#menu .nom_restaurants i {
  align-items: center;
  font-size: 150%;
  margin-left: 15px;
}
#menu h2 {
  font-weight: 20;
  text-decoration: underline #99E2D0 2px;
  margin-left: 15px;
  width: 12%;
}

.entrees {
  opacity: 0;
  animation: fadein 2.5s;
  animation-fill-mode: forwards;
  animation-delay: none;
  animation-delay: 0.5s;
}

.plats {
  opacity: 0;
  animation: fadein 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.desserts {
  opacity: 0;
  animation: fadein 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.descriptif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 95%;
  height: 55px;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px #e8e8e8;
}
.descriptif:hover .selectionner {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 0.5s;
}
.descriptif:hover .selectionner i {
  overflow: hidden;
  transform: rotate(360deg);
  transition: transform 0.4s;
}

.selectionner {
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  margin-left: 5px;
  background-color: #99E2D0;
  position: relative;
}

.selectionner i {
  color: white;
  font-size: 150%;
  transition: transform;
}

.nom {
  margin-left: 8px;
  margin-top: 0px;
  width: 92%;
}
.nom p {
  margin-top: -12px;
}

.prix {
  margin-top: 24px;
  font-weight: 1000;
  margin-right: 10px;
}

#menu button {
  color: white;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  padding: 12px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px #d4d4d4;
  transform: scale(1);
  transition: transform 0.8s;
}
#menu button:hover {
  transform: scale(1.08);
  box-shadow: 5px 5px 5px #d5d5d5;
}

/*--------------PARTIE PIED DE PAGE-----------------*/
footer {
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 25px;
}
footer p {
  font-size: 120%;
  width: 30%;
  display: flex;
  color: white;
  margin-left: 10px;
  font-family: "Shrikhand";
}
footer a {
  color: white;
}

.pied {
  margin-top: 10px;
  margin-left: 10px;
}
.pied i {
  margin-right: 6px;
  font-size: 70%;
}

/*--------------PARTIE RESPONSIVE---------------*/
@media (min-width: 700px) {
  /*---PARTIE LOADER---*/
  .loader {
    margin-top: 50%;
  }

  /*---PARTIE HEADER---*/
  #logo img {
    max-width: 25%;
  }

  /*----PATIE FONCTIONNEMENT----*/
  .fonctionnement h2 {
    margin-left: 6px;
  }
  .fonctionnement div {
    display: flex;
    flex-direction: row;
    margin-left: -2px;
  }
  .fonctionnement div .boutons {
    margin-left: 8px;
    width: 50%;
    transform: scale(0.98);
  }

  /*---PARTIE RESTAURANTS---*/
  #restaurants h2 {
    margin-left: 6px;
  }
  #restaurants .choix-restaurant {
    display: flex;
    flex-direction: row;
  }
  #restaurants .choix-restaurant .aime {
    margin-right: 8px;
  }
  #restaurants .choix-restaurant .nom_restaurant {
    width: 80%;
  }
  #restaurants .choix-restaurant figure {
    width: 95%;
  }

  /*---PARTIE MENU---*/
  #menu button {
    width: 200px;
  }
}
@media (min-width: 1000px) {
  /*---PARTIE LOADER---*/
  .loader {
    margin-top: 30%;
  }

  /*---PARTIE MENU---*/
  .choix-menu {
    display: flex;
    justify-content: space-between;
  }
  .choix-menu .entrees {
    width: 32%;
  }
  .choix-menu .plats {
    width: 32%;
  }
  .choix-menu .desserts {
    width: 32%;
  }
  .choix-menu button {
    width: 250px;
  }

  .descriptif {
    height: 65px;
  }

  #menu button {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
