$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$backgroud-search: rgb(234, 234, 234);
$backgroud: rgb(246, 246, 246);
$color-shadow: rgb(232, 232, 232);
$color-bold: rgb(34, 34, 34);
$color-hover: rgb(236, 236, 236);